/*Global Styles */
body {
    color: #fcf7f7;
    font-family: Arial, sans-serif;
}

#cardWrapper {
    border: solid 2px grey;
    box-shadow: 10px 5px 5px rgba(0, 0 , 0, .2);
    padding: 20px;
    width: 344px;
    margin: auto;
    background-color: #0f0f0f;
    border-radius: 5px;
/*    background: radial-gradient(#fcf7f7, #000009);*/
}

/*Specific styles*/
h3 {
    font-weight: 900;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 15px;
    padding-left: 5px;
/*    border: solid 3px grey;*/
}

img {
    width: 300px;
    margin-bottom: 10px;
    border: solid 1px grey;
    border-radius: 5px;
}

#mainText {
    border: solid 1px grey;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
}

#interestingFact {
    font-style: italic;
}

span {
    font-weight: bold;
}

ul {
   font-size: 14px;
   line-height: 22px;
   list-style: none;
   text-align: left;
    padding-left: 0px;
}

#backtohome {
    margin: 20px;
}