html {
    box-sizing: border-box;
	background-color: #9883E5;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}



.catStyles {
	display: flex;
	border-radius: 80px;
	margin: 50px;
	border: 10px solid #7389AE;
}


.catStyles:hover {
	border: 10px solid #B5BAD0;
	cursor: pointer;
}

#backtohome {
	display: block;
    margin: 10px;
    color: whitesmoke;
    background-color: #477DFF;
	font-size: 14px;
	padding: 15px;
	border-radius: 10px;
	cursor: pointer;
}

#backtohome:hover {
	background-color: #477DCC;
}

#countContain {
	text-align: center;
	color: white;
	margin-bottom: 60px;
}

.bg {
	background-color: #81D2C7;
	padding: 20px;
/*
	display: inline-grid;
	grid-template: 90px 1fr / 1fr 1fr 1fr;
	grid-column-gap: 100px;
*/
}
/*

#countContain {
	grid-row-start: 1;
	grid-column-start: 1;
}
*/

#picBar ul {
	display: inline-flex;
	list-style: none;
}

#picBar ul li img {
	width: 25%;
	height: 85%;
}

img#cat0 {
	margin-left: auto;
	margin-right: auto;
}

#countContain img {
	margin: 15px auto;
}