/*Global Styles
=====================*/
div h1 {
    font-family: 'Monofett', cursive;
    color: whitesmoke;
    font-size: 90px;
    margin: 0.2em;
    margin-top: 0px;
}

div h2 {
    margin: 1em 0 0.25em;
    color: whitesmoke;
    font-family: 'Mitr', sans-serif;
    font-weight: bold;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

form {
    color: whitesmoke;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Mitr', sans-serif;
}

button {
    background-color: #2EC9AD;
    border-radius: 10px;
    padding: 0.5em;
    font-family: 'Mitr', sans-serif;
}


/*ID Styles
=====================*/
#colorPicker {
    margin-bottom: 10px;
}

#inputHeight {
    color: black;
}

#inputWidth {
    color: black;
}

#alignAll {
    text-align: center;
}

.bg {
    background-color: #DB0000;
}

#special {
   color: black; 
}

#backtohome {
    margin: 20px;
    color: whitesmoke;
    background-color: #477DFF;
}

#reset {
    background-color: #FF5000;
}