* {
/*  background-color:  #222222; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  margin-top: -15px;
  margin-bottom: -5px;
  display: inline-block;
  vertical-align: middle;
  transform: translate(90%, 0%);
}

.header {
  padding: 2em;
  display: block;
  font-family: 'Sonsie One', cursive, serif;
  display: inline-block;
  vertical-align: middle;
  transform: translate(60%, 0%);
}

.whole-body {
  background-image: -webkit-linear-gradient(#666CCC, #BC1324);
  background-size: contain;
  width: 100%;
  padding: 2em;
}

.body-text {
  color: azure;
}

.nav-bar {
  background-color: #111111;
  color: azure;
  text-align: center;
  /*box-shadow: 3px 3px #000;*/
  padding: 0.65em;
  width: 100%;
  display: block;
  margin: 0;
}

.col-xs-1 {
 list-style-type: none;
 background-color: #111111;
 margin: 10px 10px 10px 10px;
 min-width: 90px;
}

a:hover {
   color: red;
}

a:clicked {
  color: grey;
}


body {
  font-family: Helvetica;
  padding: 2em;
  background-color: whitesmoke;
}