* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 10px, 10px, 10px, 10px;
  padding: 2em;
}

.programText {
  text-align: center;
  margin: auto;
  margin: 10px, 10px, 10px, 10px;
  padding: 5px, 5px, 5px, 5px;
  background-color: #0C73B8;
  border-radius: 15px;
  width: 15%;
  min-width: 250px;
  min-height: 220px;
}


input:focus {
    outline: 2px solid blue;
}