/*CSS Styles should move from general to more specific
*Breaking css into sections using comments can assist in readability
==============================================================================*/

/* Color Palette
=====================================*/
/*
#000009 - 
#fcf7f7 -
#1d0049 -
#defff2 -

#666CCC -
#440094 -

#E55126 -
#E5A227 -
#0C73B8 -
*/




/*Global Styles
===============================*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.projects-button {
  cursor: pointer;
}

a {
    color: #fcf7f7;  
}

.projects a {
    padding: 10px;
}

a:active {
    border: 1px dotted #fcf7f7;

}

main p, main li {
	color: black; /*#fcf7f7;*/
	font-family: 'Asul', sans-serif;
}

main h2, main h3 {
    color: black;
}

/*
a:visited {
  color: grey;
}

a:focus {
    outline: ;
}
*/



/* Responsive Media Queries
===============================*/

/*note: using em makes this even more flexible especially for zooming in.
To get value in em divide pixels by standard font size for one em which is 16.
original pixel values:
480px
481px  768px
769px  1200px*/

/* another setup
 /*Mobile first queries 

/* Larger than mobile 
@media (min-width: 400px) {}

/* Larger than phablet 
@media (min-width: 550px) {}

/* Larger than tablet 
@media (min-width: 750px) {}

/* Larger than desktop 
@media (min-width: 1000px) {}

/* Larger than Desktop HD 
@media (min-width: 1200px) {}

*/
@media only screen and (max-width: 20em) {
	header img#logo {
		width: 80px;
	}
	
	.forBG header.header h1 {
		font-size: 1em;
	}
	
	.forBG header.header h2 {
    	font-size: 0.9em;
	}
	
	footer #footerImgs img {
		margin: 0.8em;
	}
	
	main div.aboutMe-text {
		display: grid;
		grid-template: 900px 1570px 1fr / 1fr;
		grid-gap: 20px;
/*		justify-content: space-around;*/
	}
	
	div.aboutMe-text p {
		min-width: 200px;
	}
	
	main section {
		min-width: 250px;
	}
	
	body main div.aboutMe-text {
		display: grid;
		grid-template: 250px 920px 1580px 1fr / 1fr;
		grid-gap: 5px;
/*		justify-content: space-around;*/
	}
	
	main div.aboutMe-text img#loupic {
		width: 250px;
	}
	
}

@media only screen and (min-width: 20em) and (max-width: 36em) {
/*	mobile styles go here */
/*	width: device-width;*/
/*	zoom: 1;*/
	
	div.forBG {
		display: inline-grid;
		grid-template-columns: 1fr;
		padding: 15px;
		width: 100%;
	}
	
	header.header {
		grid-column-start: 1;
	}

	.forBG .header h1 {
		font-size: 1.5em;
	}
	
	.forBG .header h2 {
		padding: 0;
		margin-left: 0;
    	font-size: 1.4em;
	}
	
	img#logo {
		width: 90px;
	}
	
	.forBG .nav-bar li {
		display: block;
	}
	
	.forBG .nav-bar {
		padding: 0;
		grid-column-start: 2;
	}
	
	main .skillset {
	  display: grid;
	  grid-template-rows: 300px 460px 1fr;
	  grid-gap: 20px;
	  justify-items: center;
	}
	
	.skill-jquery {
  		grid-row-start: 1;
	}
	
	.skill-js {
		grid-row-start: 2;
	}
	
	main div.aboutMe-text {
		display: grid;
		grid-template: 270px 800px 1320px 1fr / 1fr;
		grid-gap: 5px;
/*		justify-content: space-around;*/
	}
	
	main div.aboutMe-text img {
		width: 270px;
	}
	
	section.whoIam {
		grid-row-start: 2;
	}
	
	section.workexp {
		grid-row-start: 3;
		grid-column-start: 1;
	}
	
	section.education {
		grid-row-start: 4;
		grid-column-start: 1;
	}
}

@media only screen and (min-width: 36em) and (max-width: 52em) {
/*	tablet styles go here*/
	.forBG .header h1 {
		font-family: serif;
		font-size: 1.6em;
	}
	
	.forBG .header h2 {
		padding: 0;
		margin-left: 0;
    	font-size: 1.45em;
	}
	
	img#logo {
		width: 100px;
	}
	
	.forBG .nav-bar li {
		display: block;
	}
	
	.forBG .nav-bar {
		padding: 0;
	}
	
	header.header {
		grid-column-start: 1;
		grid-column-end: span 2;
	}
	
	main .skillset {
	  display: grid;
	  grid-template: 1fr 300px / 1fr 1fr;
	  grid-gap: 20px;
	  justify-items: center;
	}
	
	main div.aboutMe-text {
		display: inline-grid;
		grid-template: 280px 815px 1fr/ 1fr 1fr;
		grid-gap: 20px;
	}
	
	main .aboutMe-text img {
		width: 280px;
	}
	
	section.education {
		grid-row-start: 3;
	}
	
	section.workexp {
		grid-row-start: 1;
		grid-row-end: span 3;
	}
}


@media only screen and (min-width: 52em) and (max-width: 75em) {
/*	desktop styles go here */
	header.header {
		grid-column-start: 1;
		grid-column-end: span 2;
	}
	
	main .aboutMe-text {
		display: inline-grid;
		grid-template: 300px 1fr / 1fr 1fr 1fr;
		grid-gap: 10px;
	}
	
	main .aboutMe-text img {
		grid-row-start: 1;
		width: 300px;
	}

	.whoIam {
		grid-row-start: 2;
	}

	.workexp {
		grid-row-start: 1;
		grid-row-end: span 2;
	}

	.education {
		grid-row-start: 1;
		grid-row-end: span 2;
	}	
}


/* Header/Nav and Footer
===============================*/
.nav-bar {
  grid-column-start: 3;
  min-width: 6%;
  padding-right: 50px;
	
}

.nav-bar li {
	display: inline-grid;
}

.nav-bar a {
	margin-top: 50px;
    padding: 10px;
    text-decoration: none;
    font-family: 'Pridi', serif;
	text-align: center;
	color: #000009;	
}

nav a:hover, li a:hover {
   color: #000009;
/*   background-color: #fcf7f7;*/
/*   border: 1px solid #000009;*/
/*   border-radius: 3px;*/
   font-weight: 800;
   text-decoration: underline;
}


.forBG, footer {
    background-color: white;
/*	previous color: #fcf7f7*/
/*    overflow: auto;*/
}

.forBG {
	display: inline-grid;
	grid-template-columns: 35% 1fr;
	grid-column-gap: 0;
	grid-row-gap: 0;
	padding: 15px;
	width: 100%;
}

.header {
	grid-column-start: 2;
	font-size: 16px;
}

.header h1 {
  font-family: 'Gabriela', serif;
  font-size: 2em;
  margin-top: 15px;
/*
  padding-left: 140px;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
*/
/*
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
*/
}

.header h2 {
	padding: 0;
	margin-left: 0;
	font-family: 'Baumans', cursive;
    font-size: 1.88em;
	padding-left: 190px;
/*	animation-name: slide-in;

  animation-duration: 1s;
  animation-timing-function: ease-in;
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
*/
}


a img#logo {
  float: left;
  
/*
  animation-name: slide-in-2;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  -webkit-animation-name: slide-in-2;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
*/
}

/*clear fix hack*/
/*
.forBGTemp:after {
    content: "";
    display: table;
    clear: both;
}
*/

/*
@keyframes slide-in{
    from {transform: translate(80%, 0%);}
    to {transform: translate(0%, 0%);}
}

@keyframes slide-in-2{
    from {transform: translate(170%, 0%);}
    to {transform: translate(0%, 0%);}
}
*/

footer h2 {
    color: #000009;
	font-family:'Pridi', serif;
  	font-size: 28px;
    font-weight: bold;
    padding: 0.5em;
	width: 100%;
	text-align: center;
}

#footerImgs {
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

#footerImgs img {
	margin: 1em;
}

footer a:hover {
    border: 2px solid #000009;
    border-radius: 20px;
}

footer p {
    margin-top: 10px;
    padding: 1.1em;
}



/* Primary Content
===============================*/
main {
  display: block;
  font-family: 'Baumans', cursive;
  padding: 2em;
/*  background-image: -webkit-linear-gradient(#666CCC, #440094);*/
	background: url("/images/nasaNeutronStars_1920.jpg") no-repeat center center fixed;
  /*#BC1324*/
  background-size: cover;
  max-width: 100%;
  padding: 2em;
  min-height: 600px;
  
}

.intro-text {
  margin: auto;
  color: azure;
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 45px;
/*  align-content: center;*/
}



/* Skillset Menus
===============================*/

.skillset {
  display: flex;
  justify-content: space-around;
/*  flex-wrap: wrap;*/
  text-align: center;
}

.skillset li {
	font-weight: bold;
}

/*Colors for Skill Boxes*/
.skillset .skill-html {
/*  background-color: #B70003;  previous color E55126;  awesome red 9A031f*/
  justify-content: flex-start;
}

.skill-html li {
	margin-bottom: 30px;
}

.skill-html li img {
	max-width: 95%;
	margin-bottom: -10px;
}

.skill-js {
  justify-content: center;
/*  background-color: #B70003;  previous color E5A227 */
}

.skill-js li {
	margin-bottom: 30px;
}

.skill-js li img {
	max-width: 95%;
    margin-bottom: -10px;
}

.skill-jquery {
  justify-content: flex-end;
/*  background-color: #B70003;  previous color 0C73B8 */
}

.skill-jquery li img {
	max-width: 95%;
	margin-bottom: -10px;
}

.skill-html,
.skill-js,
.skill-jquery {
  background-color: white;
  width: 25%;
  padding: 2em 4em 3em 3em;
  color: black;
  border-radius: 15px;
  min-width: 240px;
  min-height: 200px;
  box-shadow: -6px 4px 10px #000009; /*old black #000 */
  margin-bottom: auto;
}

.projects-button {
  margin-top: 6px;
  padding: 0.75em 1.25em;
  background-color: white;
  opacity: 0.9;
  width: 10em;
  color: black;
  border-radius: 8px;
}

main a {
	text-decoration: none;
}

main img {
	border-radius: 17%;
	box-shadow: -8px 6px 15px #000009;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
  line-height: 2em;
}

#leadin {
  color: white;
}


/*About Me Styles
===========================*/
.aboutMe-text {
    width: 100%;
    display: inline-grid;
    grid-template: 400px 1fr / 1fr 1fr 1fr;
	grid-gap: 20px;
	align-items: center;
	justify-items: center;
}

.aboutMe-text img {
	grid-row-start: 1;
	width: 400px;
	margin: auto;
}

.whoIam {
	grid-row-start: 2;
}

.workexp {
	grid-row-start: 1;
	grid-row-end: span 2;
}

.education {
	grid-row-start: 1;
	grid-row-end: span 2;
}

section {
	background-color: white; /*#B70003;*/
	border-radius: 15px;
	margin: 20px auto auto auto;
	text-align: center;
	padding: 20px;
	box-shadow: -6px 4px 8px #000009;
	width: 70%;
	min-width: 280px;
}

section h2 {
    font-family: 'Pridi', serif;
    font-size: 30px;
    padding-bottom: 20px;
	margin: auto;
}

h3 {
    padding-top: 20px;
    padding-bottom: 15px;
	margin: auto;
}

.aboutMe-text p {
    font-family: 'Asul', sans-serif;
    font-size: 16px;
    line-height: 28px;
    width: 90%;
    text-align: left;
	margin: auto;
	min-width: 230px;
}


figure {
	width: auto;	
}

figcaption {
	background-color: white;
	text-align: center;
	font-size: 16px;
	width: 170px;
	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
	margin: 8px auto 0;
	padding: 0.1em;
}

figcaption a {
	color: black;
	font-weight: bold;
}

figcaption a:hover {
	text-decoration: underline;
}

/*Portfolio Page
=========================*/
p.body-text {
	text-align: center;
	margin-bottom: 10px;
}

img#port {
	display: block;
    max-width: 100%;
	height: auto;
	margin: auto;
	border-radius: 0px;
}

div#portContain {
	background-color: white;/*#B70003;*/
	border-radius: 15px;
	margin: auto;
	box-shadow: -6px 4px 8px #000009;
	padding: 20px;
/*	height: 1740px;*/
	width: 50%;
	min-width: 260px;
	padding: 2em;
	overflow: hidden;
}

/*
Example for proper (proportional) scaling of video/images
.container {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}
*/