/*CSS Styles should move from general to more specific
*Breaking css into sections using comments can assist in readability
==============================================================================*/

/* Color Palette
=====================================*/
/*
#000009 - 
#fcf7f7 -
#1d0049 -
#defff2 -

#666CCC -
#440094 -

#E55126 -
#E5A227 -
#0C73B8 -
*/




/*Global Styles
===============================*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.projects-button {
  cursor: pointer;
}

a {
    color: #fcf7f7;
}

.nav-bar a {
    padding: 20px;
}

.projects a {
    padding: 10px;
}

nav a:hover, li a:hover {
   color: #000009;
   background: #fcf7f7;
   border: 1px solid #000009;
   border-radius: 3px;
   font-weight: bold;
}

/*
a:visited {
  color: grey;
}
*/


a:active {
    border: 1px dotted #fcf7f7;

}

/*
a:focus {
    outline: ;
}
*/


main p, main li {
    color: #fcf7f7;
}

main h2, main h3 {
    color: #1d0049;
}

p {
    width: 450px;
}


/* Header and Footer
===============================*/
.forBGTemp, footer {
    background: #fcf7f7;
    min-height: 75px;
/*    overflow: auto;*/
}

.header {
  font-family: 'Sonsie One', cursive, serif;
  display: inline-block;
  vertical-align: middle;
/*  margin:  0 10px;*/
  text-align: center;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
/*transform: translate(60%, 0%);*/
/*    width: 40%;*/
}

/*
.header h1, .header h2 {
  display: block;
  width: 500px;
  margin:  0 auto;
  text-align: center;
}
*/

/*
.forBGTemp img {
    display: inline-block;
  width: 240px;
  margin:  0 auto;
}
*/

#logo {
  display: inline-block;
/*  float: left;*/
  text-align: center;
/*  margin: 15px 10px;*/
  margin: 15px auto;
  vertical-align: middle;
  animation-name: slide-in-2;
  animation-duration: 1.1s;
  animation-timing-function: ease-in;
  -webkit-animation-name: slide-in-2;
  -webkit-animation-duration: 1.1s;
  -webkit-animation-timing-function: ease-in;
/*transform: translate(90%, 0%);*/
  width: 240px;
}

/*clear fix hack*/
/*
.forBGTemp:after {
    content: "";
    display: table;
    clear: both;
}
*/

@keyframes slide-in{
    from {transform: translate(80%, 0%);}
    to {transform: translate(0%, 0%);}
}

@keyframes slide-in-2{
    from {transform: translate(170%, 0%);}
    to {transform: translate(0%, 0%);}
}

footer h2 {
    color: #1d0049;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0.5em;
}

footer a {
/*
    color: #fcf7f7;
    background: #1d0049;
*/
    padding: 10px;
/*    border-radius: 10px;*/
    margin-left: 5px;
    margin-right: 5px;
    padding: 1.1em;
}

footer a:hover {
/*
    color: #1d0049;
    background: #fcf7f7;
    font-weight: bold;
    border: 3px solid #1d0049;
    border-radius: 5px;
*/
    margin-left: 5px;
    margin-right: 5px;
/*    padding: 1.2em;*/
}

footer p {
    margin-top: 20px;
    padding: 1.1em;
}


/* Navigation Bar
===============================*/
.nav-bar {
  background-color: #000009;
  color:#fcf7f7;  /* old white #defff2 */
  text-align: center;
  /*box-shadow: 3px 3px #000;*/
  padding: 0.65em;
  width: 100%;
  margin: 0;
}

.col-xs-1 {
 list-style-type: none;
 background-color: #000009;
 margin: 10px 10px 10px 10px;
 min-width: 90px;
 cursor: pointer;
 padding: 10px, 5px;
}

nav li {
    min-width: 25px;
}


/* Primary Content
===============================*/
main {
  font-family: Helvetica;
  padding: 2em;
  background-image: -webkit-linear-gradient(#666CCC, #440094);
  /*#BC1324*/
  background-size: contain;
  max-width: 100%;
  padding: 2em;
  min-height: 800px;
}

.body-text {
  color: azure;
}

/*
body {
 
}
*/

/*h1 {
  font-size: 2.5em;
}*/

/* Skillset Menus
===============================*/

.skillset {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/*Colors for Skill Boxes*/
.skill-html {
  background-color: #440094; /* previous color E55126 */
}

.skill-js {
  background-color: #440094; /* previous color E5A227 */
}

.skill-jquery {
  background-color: #440094; /* previous color 0C73B8 */
}

.skill-html,
.skill-js,
.skill-jquery {
  width: 15%;
  padding: 2em 4em 3em 3em;
  margin: 1.5em;
  color: whitesmoke;
  border-radius: 25%;
  min-width: 240px;
  max-width: 250px;
  box-shadow: -4px 4px 10px #000009; /*old black #000 */
}

.projects-button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
  line-height: 2em;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}

#leadin {
  color: azure;
}

/*-----Icon Pack3--------*/
/*
.icon-pack3{
   background-image: -webkit-linear-gradient(#666CCC, #BC1324);  
   padding:25px 0;
   position:absolute;
   display:none;
}

.icon-pack3 ul li{  
   list-style-type:none;   
   display:table-cell;
   padding:8px;
}
.icon-pack3 ul {   
    display:table;
    table-layout:fixed;
}

.icon-pack3 ul li a{
    position:relative;
    text-align:center;
    display:block;
    font-size:30px;
    width:50px;
    height:50px;
    line-height:50px;
    background-color:#fff;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    border-radius:50%;
    border:3px solid #fff;
    overflow:hidden;
    z-index:1;
}

.icon-pack3 ul li a .fa{
    color:#262626;
    position:relative;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    z-index:3;
}
.icon-pack3 ul li a:hover .fa{
    color:#fff;
    transform:rotateY(360deg);
    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
    cursor:pointer;
}
.icon-pack3 ul li a:before{
    content:"";
    position:absolute;
    top:0%;
    right:100%;
    width:100%;
    height:100%;
    border-radius:50%;
    background-color:tomato;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    z-index:2;
    transform:scale(0);
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
}
.icon-pack3 ul li a:hover:before{
    right:0%;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    
}
.icon-pack3 ul li:nth-child(1) a:before{
    background-color:#3b5999;
}
.icon-pack3 ul li:nth-child(2) a:before{
    background-color:#dd4b39;
}
.icon-pack3 ul li:nth-child(3) a:before{
    background:-webkit-radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), -webkit-radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
   background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}
.icon-pack3 ul li:nth-child(4) a:before{
    background-color:#55acee;
}

.icon-pack3 ul li:nth-child(5) a:before{
    background-color:#007bb5;
} */