.pic-frame {
  border-color: light blue;
  border-width: 8px;
  border-style: solid;
  margin: auto;
  border-radius: 50%;
  margin-top: 25px;
}

.smaller-image {
  width: 600px;
  
  }

.background-color{
  background-color: #111111;
}

.p-text-color {
  color: #CCCCCC;
  font-size: 15px;
  word-wrap: break-word;
  text-align: justify;
  margin: 5px auto;
}

h3.listTitle{
  color: #CCCCCC;
  font-size: 15px;
  text-align: center;
  margin: 15px auto; 
}

.p-bg-border {
  background-color: #222222;
  border-radius: 15px;
  margin: 15px auto;
  padding: 10px 30px;
 
}

.fancy-quote {
  color: #0088CC;
  font-size: 32px;
  font-family: Monospace, sans-serif;
  margin: auto;
}

.quote-cred {
  color: #888888;
  font-size: 16px;
  font-family: Monospace, sans-serif;
  margin-left: 100px;
}

.sub-title {
  color: #007777;
}

.for-margin {
  margin-left: 25px;
}

#backtohome {
    margin: 20px;
}